.root {
  width: 100%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 27px 42px 0;
  font-size: 24px;
  font-weight: bold;
}

.form {
  padding: 30px 42px;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  label {
    width: 80px;
    font-weight: bold;
  }

  input {
    flex: 1 1 auto;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 7px 14px;
    font-size: 14px;
    color: black;
    line-height: 24px;
  }
}

.detail {
  background: #ededed;
  padding: 15px 42px;
  display: flex;
  flex-direction: column;

  .detail_row {
    display: flex;
    justify-content: space-between;
  }
}

.total {
  padding: 15px 42px;
  color: #ff5c5c;
  font-size: 30px;
  text-align: right;
}

.action {
  padding: 15px 42px;
  display: flex;
  justify-content: space-between;
}

.action_one {
  padding: 15px 42px;
  display: flex;
  justify-content: flex-end;
}

.button {
  position: relative;
  background: #d8d8d8;
  color: #6d7278;
  padding: 10px 20px;
  border: none;

  &.active {
    color: #fff;
    background: #575757;
  }
}

.success {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}
